@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.animated{
  transition: all 0.5s ease-in-out;
}

.bgs{
  border-image: fill 0 linear-gradient(#090f18a2, #090f18e7, #090f18);

}

@media (min-width: 1024px) {
  .bgs {
      background-size: 90%;
  }
}


/* *{
  border: .5px solid black;
} */